*{
    margin: 0;
    padding: 0;
}

.color-bck-bd {
    background-color: #efe6ddff;
}

#sigilo {
    color: #be6e46ff;
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 1px;
}

.description {
    margin-left: 40px;
    margin-top: 5px;
}

#input-number {
    padding-bottom: 25px;
    padding-left: 40px;
    float: none;
    width: auto;
}

input:invalid:required {
    border: 2px dashed red;
}
  
  
#box-number {
    width: 7ch;
    text-align: center;
}

.box-input-result {
    display: flex;
    flex-flow: row wrap;
}

/*
#nav-left {
    float: left;
    width: 600px;
    padding-top: 20px;
}

#nav-right {
    float: right;
    width: 600px;
    padding-top: 20px;
}
*/

.input{
    margin-left: 40px;
    width: 50ch;
}

.exibit {
    margin-left: 30ch;
    width: 50ch;
}

.input-text {
    border-color: #efe6ddff;
    border-radius: 5px;
    height: 17ch;
    width: 20rem;
}

.result{
    border-color: #efe6ddff;
    border-radius: 5px;
    height: 17ch;
    width: 20rem;
}

#input-decrypt {
    padding-top: 30px;
}

#result-decrypt {
    padding-top: 50px;
}

.submit{
    height: 35px;
    border-radius: 5px;
    border-color: rgb(219, 204, 188);
    width: 4.5em;
}

.footer {
    margin-left: 40px;
}


