

body {
    background-color: #efe6ddff;
}

#sigilo {
    color: #be6e46ff;
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 1px;
}

article {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
    margin-left: 40px;
}


.slider-wrapper input {
    width: 300px;
    height: 30px;
    margin: 0;
    transform-origin: 75px 75px;
}

form {
    margin-left: 40px;
}

input:invalid:required {
    border: 2px dashed red;
}
    


.input-result {
    display: inline-block;

}

div#nav-right {
    margin-left: 25%;
}


div.input {
    display: inline-block;
    align-items: auto;
}


.input-text {
    border-color: #efe6ddff;
    border-radius: 5px;
    height: 17ch;
    width: 20rem;
}

textarea {
    border-color: #efe6ddff;
    border-radius: 5px;
    height: 17ch;
    width: 20rem;
}


.submit{
    height: 35px;
    border-radius: 5px;
    border-color: rgb(219, 204, 188);
    width: 4.5em;
}

footer {
    margin-left: 40px;
}


